{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}
{% block customCSS %}<link rel="stylesheet" href="{{ asset('css/login.css') }}"/>{% endblock %}

{% block body %}
    <div class="container login-container">
        <h1 class="h3 mb-3 font-weight-normal">Création de votre compte</h1>

        <form name="registration_form" method="post">
            <div class="input-group mb-3">
                <label for="inputEmail" class="sr-only">Email</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="email" name="registration_form[email]" id="inputEmail" maxlength="180" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="input-group mb-3">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="registration_form[plainPassword]" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <input id="#agreeTerms" type="checkbox" checked name="registration_form[agreeTerms]" required>
            <label for="agreeTerms">Accepter les termes d'utilisation</label>
            {{ form_row(registrationForm._token) }}

            <br/>
            <button class="btn btn-lg btn-primary">
                S'incrire
            </button>
        </form>

{% endblock %}
