header {
    width: 100%;
    font-size: 15pt;
    color: #f0f0f0;
    text-align: center;
    background-color: rgba(0.3, 0.3, 0.3, 0.8);
}

body {
    margin: 0;
}

footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
}

.body-margins {
    margin: 8px;
}