{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block body %}
    <h2 class="display-4">{{ room.summary }}</h2>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Durée de la réservation</span>
        </div>
        <input type="text" name="daterange" />
    </div>


    <button id="book" class="btn btn-success btn-lg">Réserver</button>
{% endblock %}
{% block customJS %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function () {
            var startDate = moment();
            var endDate = moment();
            $("#book").on('click', function() {
                var start = startDate.format("YYYY-MM-DD");
                var end = endDate.format("YYYY-MM-DD");
                console.log(start);
                console.log(end);
                $.ajax({
                    method: "POST",
                    url: "{{ path('room_make_reservation', { "id": room.id }) }}",
                    data: {
                        start: start,
                        end: end
                    },
                    success: function(e) {
                        console.log(e);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            });
            $('input[name="daterange"]').daterangepicker({
                "opens": 'left',
                "locale": {
                    "format": 'DD/MM/YYYY',
                }
            }, function(start, end, label) {
                startDate = start;
                endDate = end;
            });
        });
    </script>
{% endblock %}