.commentaries {
    position: absolute;
    top: 130px;
    right: 10px;
    width: min-content;

    margin-right: 0px;

    text-align: center;
    float: right;

    border: solid 1px limegreen;
    border-radius: 4px;
    padding: 8px;

    font-size: 12pt;

    animation: fade-in 1s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


table {
    border-collapse: separate;
    border-spacing: 10px 0;
}

