.description-text {
    font-family: "DejaVu Serif";
    color: black;
    width:600px;
}

.btn_region-link{
    color: whitesmoke;
}


#welcome-text {
    text-align: right;
    border-color: black;
    position: relative;
    left: 500px;
    top: 250px;
    margin: 0px;
}

body{
    background: #ffffff url("/assets/images/golden-gate-bridge-4k.jpeg") no-repeat left top fixed;
}