#region-list {
    list-style-type: none;
}

.region-item {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: box-shadow .3s;
    background-color: #FEFEFE;
}

.region-item:hover {
    /* Décalage sur X, Décalage sur Y, Longueur de l'ombre, Couleur */
    box-shadow: 1px 1px 2px palegoldenrod,
                -1px -1px 2px palegoldenrod,
                1px -1px 2px palegoldenrod,
                -1px 1px 2px palegoldenrod;

}

.region-item a {
    margin: 0px;
    text-decoration: none;
    color: #0f0f0f;
}

.region-item a:hover {
    color: darkgrey;
}

body {
    background: #ffffff url("/assets/images/earth.jpg") no-repeat left top fixed;
}

