{% extends 'base.html.twig' %}
{% form_theme create_room 'bootstrap_4_layout.html.twig' %}


{% block customCSS %}
<link rel="stylesheet" href="{{ asset('css/owner.css') }}"
{% endblock %}
{% block title %}Créer une chambre{% endblock %}

{% block body %}
<div class="container form-container">
    <h1 class="display-4">Créer une nouvelle chambre</h1>

    <div class="form">
        {{ form_start(create_room) }}
        {{ form_widget(create_room) }}


        <button class="btn btn-primary">Créer</button>
        {{ form_end(create_room) }}
    </div>
</div>
{% endblock %}
